## Objectives
- Create random names for the messages
- Create random message id's for the messages

## 1. Read data and get Kenyan Names

In [40]:
import pandas as pd
from faker import Faker 
import random
import uuid

In [4]:
df = pd.read_csv('GeneralistRails_Project_MessageData.csv')
df.head(10)

,User ID,Timestamp (UTC),Message Body
0,208,2017-02-01 19:29:05,So it means if u pay ua loan before the due da...
1,208,2017-02-01 19:21:58,The dates of payment are still indicated n no ...
2,208,2017-02-01 19:21:18,Why was my application rejected
3,208,2017-02-01 19:05:45,Hi branch I requested my number to remain the ...
4,218,2017-02-01 16:08:21,I said ill pay 5th esther camoon.. Infact you ...
5,218,2017-02-01 14:07:37,I will pay on sunday of 5th and i will pay al...
6,218,2017-02-01 12:07:07,I have a late source of salary i expected but ...
7,444,2017-02-02 15:57:36,"I will clear my loan before 15nth,kindly bear ..."
8,676,2017-02-03 14:23:45,Hi can i get the batch number
9,676,2017-02-03 14:23:25,Hi can i get the batch number pl

In [7]:
backup = df.copy()

df.shape

(100, 3)

Using Faker to fake first names and conjoin them with a list of kenyan ethnic names

In [36]:
kenyanNames = pd.read_json('kenyan_names.json')
# kenyanNames.shape
kenyanNames['names'][1]

'Kiplagat'

In [29]:
fk = Faker()
fk.name().split(" ")[0]

'Jonathan'

## 2. Generating fake names for users

In [50]:
def generateName():
    name = fk.name().split(" ")[0] + ' ' +  kenyanNames['names'][random.randint(0,84)]
    return name

Iterating through the dataset and adding the names. 
We also check if the user id is the same so that one user id has the same name.

In [53]:
names = {}
for index, row in df.iterrows():
        user_id = row['User ID']
        if user_id not in names:
            names[user_id] = generateName()  # Generate a name if not already generated for this user ID
        df.at[index, 'Name'] = names[user_id]

df.sample(10)

,User ID,Timestamp (UTC),Message Body,name,Name
60,3701,2017-02-01 12:26:40,Why don't you want to give me a loan,Kyle Ouma,Luis Waithaka
65,3897,2017-02-03 7:56:41,I've settled many of your loans before please ...,Dr. Ogutu,Kimberly Kimaiyo
59,3701,2017-02-01 12:27:31,Do I have any other loan that I didn't pay,Traci Kiptanui,Luis Waithaka
33,2126,2017-02-01 15:47:10,What SMSs should i accumulate on my phone?,Steven Ochieng,Erin Koech
66,3897,2017-02-03 7:46:47,Hi branch kindly let me sort out the issue in ...,Jonathan Chebet,Kimberly Kimaiyo
55,3112,2017-02-02 11:52:37,Am still getting from another financial instit...,Kelly Warigia,Kristin Chemweno
80,5724,2017-02-03 6:53:55,Some lady from brunch calls me n starts to abu...,Nicole Waweru,David Koskei
27,2035,2017-02-02 5:59:11,What am i supposed to do after paying in order...,Linda Maina,Richard Mutua
87,7140,2017-02-02 13:06:55,Why cant i have a loan now yet i have cleared ...,Travis Mwangi,Patrick Oduor
37,2517,2017-02-01 18:06:50,I forwarded my certificate of clearance from t...,Gina Kibet,Shawn Ogada

## 3. Generating random Message ID's for each message

In [ ]:
for index, row in df.iterrows():
    messageID = uuid.uuid4()